/* General Styling */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
}
 
html {
  box-sizing: border-box;
}

/* Top Header */
.top-header {
    background-color: #0F3F3F;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
 

.store-locations, .account, .wishlist {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
  padding: 8px 12px;
}

.icon {
  width: 19px; /* Adjust the width and height as needed */
  height: 19px;
  margin-right: 5px; /* Spacing between the icon and text */
}
 
.user-buttons {
    display: flex;
}
 
/* Main Header */
.main-header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #F9F7F0;
}
 
.logo-text {
    height: 100px;
}

.logo {
  height:130px;
}

@media screen and (max-width: 1024px) {
  .logo-text {
    height: 80px;
  }

  .logo {
    height: 104px;
  }
}

@media screen and (max-width: 768px) {
  .logo {
    display: none; /* Hide the logo text on mobile devices */
  }

  .logo-text {
    height: 80px;
  }
}
 
.search-and-cart {
    display: flex;
    align-items: center;
}

.search-container {
  position: relative;
  flex-grow: 1;
  padding-right: 3px;
}

.search-bar {
  width: 100%;
  padding-right: 40px; /* Adjust the padding to accommodate the image size */
  box-sizing: border-box;
}
 
.search-icon {
  position: absolute;
  left: 8px; /* Adjust this value to set the distance from the right side of the search bar */
  top: 3px; /* Padding above the image */
  bottom: 3px; /* Padding below the image */
  height: calc(100% - 6px); /* Adjust the height to match your image size and accommodate the padding */
  width: auto;
  cursor: pointer;
}

.cart {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
    padding: 8px 12px;
}

.cart-icon {
  width: 28px; /* Adjust the width and height as needed */
  height: 28px;
  margin-right: 5px; /* Spacing between the icon and text */
}
 
/* Navigation Bar */
.nav-bar {
  background-color: white;
  display: flex;
  justify-content: center;
  width: 90%;
  margin: 0 auto;
}

/* Media query for smaller screens */
@media screen and (max-width: 768px) {
  .nav-bar {
    white-space: nowrap;
    flex-wrap: nowrap; /* Added property to prevent wrapping */
  }
}

.nav-container {
  overflow-x: auto;
  -ms-overflow-style: none; /* Hide scrollbar for IE and Edge */
  white-space: nowrap;
  padding: 8px 12px;
}

.nav-container::-webkit-scrollbar {
  display: none; /* Hide scrollbar for Chrome, Safari, and Opera */
}

.nav-bar a,
.dropbtn {
  color: black; /* Change text color to black */
  cursor: pointer;
  padding: 8px 12px;
  text-decoration: none;
  background-color: white; /* Set initial background color */
  border-right: 2px #F9F7F0 solid;
  border-left: none;
  border-bottom: none;
  border-top: none;
  white-space: nowrap;
  flex-wrap: nowrap;
}

.nav-bar a:last-child {
  border-right: none;
}

/* Add hover effect for .nav-bar a and .dropbtn */
.nav-bar a:hover,
.dropbtn:hover {
  background-color: #F9F7F0; /* Change background color on hover */
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  background-color: white;
  display: none;
  position: absolute;
  min-width: 160px;
  border: none; 
  columns: 3;
  column-gap: 10px; /* Adjust the gap between columns as needed */
  background-color: #F9F7F0;
  border-right: none;
}

.dropdown-content a {
  color: black;
  display: block;
  padding: 8px;
  text-decoration: none;
  background-color: #F9F7F0; 
}

.dropdown-content a:hover {
  background-color: #eee6d1; /* Change to desired hover color */
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #F9F7F0; /* Change to desired color */
}
 
/*container flexbox stuff*/
.container {
  display: flex;
  flex-direction: column; /* Align items vertically */
  align-items: center; /* Center items horizontally */
  justify-content: center; /* Center items vertically */
  max-width: 60%; /* Set container width to 60% of the viewport width */
  margin: 0 auto; /* Center container horizontally */
  padding: 2rem; /* Add some padding around the container */
  background-color: white; /* Set a background color for the container */
}

/* Carousel and Buttons */
.carousel-and-buttons {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}
 
.carousel {
    height: 200px;
    width: 70%;
}
 
.carousel-buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 40%;
}


 
.bestsellers,
.new-releases,
.sales {
    background-color: #0F3F3F;
    border: none;
    color: white;
    cursor: pointer;
    padding: 8px 12px;
    text-align: center;
}
 
/* Product Listings */
.main-product-listing,
.small-product-listings {
    display: flex;
    flex-wrap: wrap;
    padding: 20px 0;
}
 
 
 
/* Long Rectangle Image */
.rectangle-image {
    display: block;
    height: 100px;
    margin: 20px 0;
    width: 100%;
}
 
/* Coming Soon Section */
.coming-soon-section{
  justify-content: space-between;
}


.scrollable-section {
    padding: 10px 40;
}
 
.section-header {
    display: flex;
    justify-content: space-around;
    padding-left: 5px;
    padding-right: 5px;
}
 
.view-all {
    background-color: #0F3F3F;
    border: none;
    color: white;
    cursor: pointer;
    padding: 8px 12px;
    justify-content: space-between;
    height: 39px;
}
 
 
.books-body {
  display: flex;
  flex-direction: row;
  padding: 59 10px;
  width: 80%;
}

.books-container {
  max-width: 60%; /* Set a max-width to match the .container */
  margin: 0 auto; /* Center the container horizontally */
  overflow-x: auto; /* Enable horizontal scrolling when needed */
  -ms-overflow-style: none;
} 

.books-container::-webkit-scrollbar {
  display: none; /* Hide scrollbar for Chrome, Safari, and Opera */
}

.book {
  flex: 0 0 100px;
  width: 100px;
  margin-right: 30px;
  font-family: sans-serif;
  cursor: pointer;
}
 
.book-cover {
  box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
  border: 2px solid #fff;
  border-radius: 3px;
  transition: transform .2s, box-shadow .2s;
}
 
.book:hover .book-cover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, .2);
  transform: translate(0, -1px);
}
 
.book-cover-image {
  display: block;
  width: 100%;
  border-radius: 1px;
}
 
.book-title {
  margin-top: 8px;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
}
 
.book-author {
  margin-top: 3px;
  color: #888;
  font-size: 10px;
  text-align: center;
}
 
.book-price {
  margin-top: 6px;
  font-size: 11px;
  font-weight: bold;
  text-align: center;
}
 
.ellipsis {
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis;
}
 

 
/* Footer */
.footer {
    background-color: #0F3F3F;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
@media (max-width: 768px) {
    .main-header {
        flex-direction: column;
    }
 
    .search-and-cart {
        margin-top: 10px;
    }
 
    .nav-bar {
        flex-direction: column;
    }
 
    .nav-bar a,
    .nav-bar .dropbtn {
        padding: 8px;
    }
 
    .carousel-and-buttons {
        flex-direction: column;
    }
 
    .carousel {
        width: 100%;
    }
 
    .buttons {
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
    }
 
    .product-listings-container {
        width: 100%;
    }
 
    .footer {
        flex-direction: column;
    }
}

/*DO NOT DELETE MAGIC CODE!!!! get help on wtf it only works with this line */
--------------------------------------------

body {
  padding: 0;
  margin: 0;
  min-height: 100vh;
  display: flex;
  align-items: flex-end;
}
footer {
  background-color: #0F3F3F;
  color: #EEE6D1;
  font-size: 16px;
}
footer * {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  border: none;
  outline: none;
}
.row {
  padding: 1em 1em;
}

/* edit here to change the row layout*/
.row.primary {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: stretch;
  max-width: 75%;
  margin: 0 auto;
}
.column {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 2em;
  min-height: 15em;
}
h3 {
  width: 100%;
  text-align: left;
  color: #EEE6D1;
  font-size: 1.4em;
  white-space: nowrap;
}
ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}
li:not(:first-child) {
  margin-top: 0.8em;
}
ul li a {
  color: #EEE6D1;
  text-decoration: none;
}
ul li a:hover {
  color: white;
}
.about p {
  text-align: justify;
  line-height: 2;
  margin: 0;
}
.modal {
  display: block;
  left: 0;
  right: 0;
  padding: 5px;
  position: relative;
}

.modal .sign-up {
  border: 2px #EEE6D1;
  display: flex;
  margin: 10px;
}

.sign-up input {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  margin: 0;
  padding: 10px 20px;
  width: 85%;
}

.sign-up button {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  background-color: #EEE6D1;
  border: none;
  border-left: 2px #EEE6D1;
  cursor: pointer;
  margin: 0;
  outline: none;
  width: 15%;
  text-transform: uppercase;
}

.sign-up button:hover {
  background-color: #F9F7F0;
}

input:hover, input:focus {
  outline: none;
}

div.social {
  display: flex;
  justify-content: space-around;
  font-size: 2.4em;
  flex-direction: row;
  margin-top: 0.5em;
}
.social i {
  color: #F9F7F0;
}


.footer-menu{
  float: left;
    margin-top: 10px;
}

.footer-menu a{
  color: #cfd2d6;
  padding: 6px;

  text-decoration: none;
}
.footer-menu a:hover{
  color: white;
}
.copyright p {
  font-size: 0.9em;
  text-align: right;
}
@media screen and (max-width: 850px) {
  .row.primary {
    grid-template-columns: 1fr;
  }

}

/* ----------Fantasy.html starts here---------- */

.product-filter {
  display: flex; 
}

.product-filter h1{
  flex-grow: 1;
  padding: 2%;
  font-size: 40px;
}

.sort{
  display: flex;
  padding: 2%;
  font-size: 20px;
}

.collection-sort{
  display: flex;
  flex-direction: column;
}

.products{
  display: flex;
  flex-wrap: wrap;
  flex: 1;
}

.product-card{
  padding: 2%;
  flex-grow: 1;
  flex-basis: 16%;
  
  display: flex;
  flex-direction: column;
  
}

.product-image img {
  max-width: 75%;
}

.product-info{
  margin-top: auto;
}

@media (max-width: 920px) {
  .product-card {
    flex: 1 21%;
  }
  /* Select the first two */
.products .product-card:first-child, 
.products .product-card:nth-child(2) {
  flex: 2 46%;
}
}

@media (max-width: 600px) {
  .product-card {
    flex: 1 46%;
  }
}